<h1><%= @article.title %></h1>
<p>Posted on <%= @article.created_at %></p>
<p><% if @article.image.exists? %><%= image_tag @article.image.url %><% end %></p>
<br>
<p><%= @article.body %></p>
<br>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<br>
<% if logged_in? %>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete, data:
            {confirm: "Really want to delete the article?"} %>
<%end%>
<%= link_to "<< Back to Articles List", articles_path %>
<%= render partial: 'comments/form' %>

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>